.item-container {
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    background-color: var(--cinza-fundo);
    width: 400px;
    border-radius: 20px;
    padding: 2rem;
}

.lista-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item {
    display: flex;
    align-items: center;
    height: 1.5rem;
}

.item p {
    width: 65%;
    font-size: 1.5rem;
    overflow-y: hidden;
    padding: .3rem;
    color: var(--branco-texto);
    margin-right: 1rem;
}

.item p::-webkit-scrollbar {
    height: 2px;
}
.item p::-webkit-scrollbar-track{
    background-color: var(--preto-fosco);
}
.item p::-webkit-scrollbar-thumb{
    background-color: var(--cinza-claro);
}

.item button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color:var(--cinza-claro);
    cursor: pointer;
}
.item button:active{
    scale: .9;
}
.blur{
    filter: blur(3px);
}
.risco{
    text-decoration: line-through;
}
